---
layout: base
---

<style>
  main {
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin-top: 0;
  }
</style>

<div class="about">
  <div class="profile">
    <div class="info">
      <div class="title">{{ site.author.name }}</div>
      <div class="description">{{ site.author.desc }}</div>
      <div class="contact" style="margin-top:.5rem;font-size:.92em;line-height:1.7;">
        ✉️ <a href="mailto:liying06@westlake.edu.cn" style="color:#2a7ce0;text-decoration:none;">liying06@westlake.edu.cn</a>
        &nbsp;|&nbsp; 📱 +86 15201976835
        &nbsp;|&nbsp; 🐙 <a href="https://github.com/NeuraLiying" target="_blank" style="color:#2a7ce0;text-decoration:none;">GitHub</a>
        &nbsp;|&nbsp; 📚 <a href="https://scholar.google.com/citations?user=jIkHgFAAAAAJ&hl" target="_blank" style="color:#2a7ce0;text-decoration:none;">Google Scholar</a>
      </div>
    </div>
    <img class="selfie" alt="{{ site.author.name }}" src="{{ site.author.selfie }}" />
  </div>

  <div class="content">
    {{ content }}
    </br>
    <div class="social-layer">
      <div class="social-icons">
        <ul>
          {% include icons.html %}
        </ul>
      </div>
    </div>
  </div>
</div>
