---
layout: base 
---

<style>
  main {
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin-top: 0;
  }
</style>

<div class="about">
  <div class="profile">
    <div class="info">
      <div class="title">{{ site.author.name }}</div>
      <div class="description">{{ site.author.desc }}</div>
    </div>
    <img class="selfie" alt="{{ site.author.name }}" src="{{ site.author.selfie }}" />
  </div>

  <div class="content">
    {{ content }}
    </br>
    <div class="social-layer">
      <div class="social-icons">
        <ul>
          {% include icons.html %}
        </ul>
      </div>
    </div>
  </div>
</div>